*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Lato', sans-s;
text-align:center;
background-color:grey;
height: 50vh;
}
.lottie{
    background-color: rgb(92, green200, blue80);
height: 50vh;
display:flex;
justify-content: center;
align-items: center;
}